#main{
    display:flex;
    justify-content:center;
    width:60%;
    background-color: rgb(63, 126, 126);
    border-radius: 2.5%;
    border-width:1px;
    padding-top: 20px;
    margin-top: 10px;

}
.styling{
    text-decoration:line-through;
}
.items{
    color:rgb(27, 45, 61);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display:flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: large;
    gap: 10px;
}
#lis{
    padding-top: 30px;
    list-style:none;
}
#central{
    display:flex;
    justify-content: center;
}
